<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="HMT.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
	</appSettings>
 <userSettings>
  <HMT.Settings>
   <setting name="conf" serializeAs="String">
    <value>conf.txt</value>
   </setting>
   <setting name="screenshot" serializeAs="String">
    <value>C:\</value>
   </setting>
   <setting name="process" serializeAs="String">
    <value>chrome</value>
   </setting>
   <setting name="typeScreen" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="monitorLocetion" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="release" serializeAs="String">
    <value>Foris 7.22.7</value>
   </setting>
   <setting name="firstStart" serializeAs="String">
    <value>0</value>
   </setting>
  </HMT.Settings>
 </userSettings>
</configuration>